*{
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

body,html{
    height: 100%;
    width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center
}

main{
    height: 96%;
    width: 600px;
    background-color: black;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 3px solid white;
}

section{
    width: 100%;
    height: 1500px;
    background: rgb(0, 0, 0);
}

.fullscreen{
height: 100%;
width: 100%;
position: absolute;
display: none;
background-size: cover;
background-position: center;
z-index: 1;
}

.prog{
    height: 5px;
    width: 100%;
    border: black silid 0.2px;
}
.grow{

height: 100%;
width: 0;
    background-color: rgb(0, 0, 0);
}

.storys{
    width: 100%;
    height: 180px;
    border-bottom: 3px solid rgb(162, 162, 162);
    display: -webkit-inline-box;
    overflow-y: hidden;
    overflow-x: auto;
}
   .storys::-webkit-scrollbar{
overflow-x: hidden;
   }

.story{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 3px solid rgb(255, 0, 0);
    margin: 15px 0px 0px 10px;
}

.storys img{
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.inpost{
    height: 570px;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

    .insreq {
        height: 245px;
        width: 100%;
        column-gap: 5px;
        display: -webkit-inline-box;
        column-gap: 5px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 30px 0px 0px 15px;
}

.insreq::-webkit-scrollbar{
    overflow-x: hidden
}